:root {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #0052cc;
}

.md-typeset h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.md-typeset h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.md-typeset h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.md-typeset table td,
.md-typeset table th {
  font-size: 1.10em;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: black;
  display: block;
  font-family: inherit;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body, .md-typeset {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1em;
  letter-spacing: 0.025em;
}
