:root {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #0052cc;
}

body, .md-typeset {
  font-size: 1em;
  letter-spacing: 0.025em;
}

.md-typeset h1 {
  font-size: 2em;
  font-weight: 700;
}

.md-typeset h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.md-typeset h3 {
  font-size: 1.25em;
  font-weight: 500;
}

/* .md-typeset table td,
.md-typeset table th {
  font-size: 1.10em;
} */

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: black;
  display: block;
  letter-spacing: 0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.md-typeset .headerlink::before {
  content: "🔗"; 
  font-size: 0.5em;
  margin-left: 0.2em;
  color: #999;
}

