/* Left navigation bar */
/* .md-nav__title {
  display: none;
} */

/* Right navigation bar */
/* .md-nav--secondary .md-nav__title {
  display: none;
} */

.md-typeset h1 {
    color: black;
    display: block;
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.md-typeset h2 {
    color: black;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.md-typeset h3 {
    color: black;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.md-typeset p {
    color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}